<h1>Occasions</h1>
<p>Here they are!</p>

<ul>
 
    <% @lists.each do |list| %>
     <li><%= link_to list.occasion, list_path(list) %> </li> 
        <%= link_to 'Edit', edit_list_path(list) %>
        <%= link_to 'Delete', list_path(list), method: :delete, data: {confirm: 'Are you sure?'} %> <br>
    <% end %>

<p><%= link_to 'Add a list', new_list_path %></p>