<div class="row clearfix">
  <div class="intro-text grid_5">
    <h1>WELCOME TO GIFT LIST</h1>
    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </div>
  <div class="main-image grid_6"> 
  <img id="top-pic" src="http://static.uk.groupon-content.net/dealarc/img/slider/695/homeware-1.jpg"/>
  </div>
</div>


  <div class="row bottom-images clearfix">
    <div class=" alpha grid_4">
      <h2><%= link_to "Register", new_user_path %></h2>
          <%= link_to image_tag("http://3.bp.blogspot.com/-1pA1TNvZHxw/TdrPziSB4mI/AAAAAAAAAec/KoXO19F0W-w/s1600/balloons-engagement-photos-16.jpg", :class => "thumbnails", :alt => "register"), new_user_path %>
        </div>

    <div class=" grid_4">
      <h2>Manage your list</h2>
      <img class="thumbnails" src="http://www.harleyslodge.co.uk/wp-content/uploads/2012/09/weddings3.jpg" alt="manage list"/>
    </div>

    <div class=" grid_4 omega">
      <h2>Buy a gift</h2>
      <img class="thumbnails" src="http://www.birdikus.com/img/jaula-decoracion_17.jpg" alt="buy a gift"/>
    </div>
  </div>