



header {
  margin-bottom: 4%;
}
img {
  max-width: 100%
}

.top-nav {
  float: right;
  margin-bottom: 11%;
}

.top-nav ul li{
  float: right;
  margin-right: 5.3691275%;
  display: inline-block;


}

.top-nav ul li a {
  text-decoration: none;
  color: black;
}

.top-nav ul li a:hover {
  color: red;
}

nav {
  background-color: black;
  float: right;
  border-top-left-radius: 10px;
  margin: 0;


}

nav ul {
  text-align: center;
  margin-top: 1.0738255%;
  margin-bottom: 0.28645375px;
}

nav ul li{  
  margin-right: 8.05369%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover{
  color: red;
}

nav ul li a:visited{
  color: white;
}

.grid_3 {
  text-align: center;
  margin-bottom: 0;
}

#gift-font {
  position: relative;

  font-family: 'Clicker Script', cursive;
  font-size: 3.75em;
  margin: 4.255% 8.510% 4.255% 0;
  text-decoration: none;
  color: black;
}


a:visited{
  color: black;
}

a:link{
  text-decoration: none;
}

#ribbon {
  /*position: absolute;*/ 
  top: 34.0425%;
  left : 10.213%;
  height: 5.125em;
  width: 8.25em;
 /* margin-bottom: 15px;*/
}