

  <footer class="grid_12 omega clearfix">
          <ul>
           <li><a href="#">About</a>
            <li><a href="#">Contact us</a></li>
          </ul>
          <p id="copy">&copy 2013 Giftlist</p>
  </footer>
